<ui-view></ui-view>

<script type="text/ng-template" id="contents_index.html">
  <div class="container" ng-controller="ContentController as vm">
    <h1 class="jumbotron text-center">Tripcited</h1>

  <form ng-submit="vm.addContents()" id="addContents">
    <div>
    <label for="addContent-title">Title</label>
    <input type="text" id="addContent-title" ng-model="vm.addContents.title" placeholder="Title">
    <label for="addContent-image_link">Image</label>
    <input type="text" id="addContent-image_link" ng-model="vm.addContent.image_link" placeholder="Add Image">
    <label for="addContent-source">URL</label>
    <input type="text" id="addContent-source" ng-model="vm.addContent.source" placeholder="add url">
    <label for="addContent-body">Body of Post</label>
    <input type="text" id="addContent-body" ng-model="vm.addContent.body" placeholder="Add body of post">
    <input type="submit" value="Add Post">
    </form>

    <br>
    <br>
    <button ng-click="vm.getData()">Get Some Data</button>
    <div ng-if="vm.allContents" ng-repeat="content in vm.allContents">
      <ul>
        <li>{{content.title}}</li>
        <li>{{content.image_link}}</li>
        <li>{{content.source}}</li>
        <li>{{content.body}}</li>
        <li>{{content.upvotes}}</li>
        <li>{{content.downvotes}}</li>
      </ul>
    </div>
  </div>
</script>
